<p id="notice"><%= notice %></p>

<h1>Awesome procucts!!!!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Vender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produnts.each do |produnt| %>
      <tr>
        <td><%= produnt.name %></td>
        <td><%= produnt.price %></td>
        <td><%= produnt.vender %></td>
        <td><%= link_to 'Show', produnt %></td>
        <td><%= link_to 'Edit', edit_produnt_path(produnt) %></td>
        <td><%= link_to 'Destroy', produnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produnt', new_produnt_path %>
